body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

.container{
width:90%;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

input{
width:100%;
padding:10px;
margin:8px 0;
}

button{
padding:10px 20px;
margin:5px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#0077cc;
color:white;
}

tr:nth-child(even){
background:#f9f9f9;
}